/*Navigation list - HOME,SPORTS,CONTACT,ABOUT*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #181E26;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#21BFA2;
}


/*HEADER*/
h1 {
font-family: bio Sans;
  color:#21BFA2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}

.column{
  float:left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding:60px;
}

img {
  padding-left: 20px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: left;
  font: normal normal normal 18px/24px Arial;
  letter-spacing: 1.2px;
  color: #000000;
  opacity: 1;
  padding-right: 130px;
  padding-left: 20px;
}


/*FOOTER*/
footer{
  padding: 20px;
  text-align: center;
  background: #181E26F2;
  margin-top: 20px;
}
