/*Navigation list - HOME,SPORTS,CONTACT,ABOUT*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #181E26;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#21BFA2;
}


/*HEADER*/
h1 {
font-family: bio Sans;
  color:#21BFA2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 20px;
}



.column{
  float:left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding:60px;
}

img {
  padding-left: 100px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: left;
  font: normal normal normal 17px/22px Arial;
  letter-spacing: 1.2px;
  color: #000000;
  opacity: ;
  
  padding-right: 300px;
  padding-left: 300px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #000000 opacity 1;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=button]{
  background-color: transparent;
  border:box;
  color: #21BFA2;
  padding: 14px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font: normal normal normal 17px/22px Arial;

}

/*FOOTER*/
footer{
  padding: 20px;
  text-align: center;
  background: #181E26F2;
  margin-top: 20px;
}
