/*Media Query for max width of 480px devices*/
@media screen and (max-width:480px) {
 nav {
  list-style-position: vertical;
 }



 h1{
  font-size: 25px/13px;
 }
 footer{
  list-style-position: stack;
 }
}

/*Navigation list - HOME,SPORTS,CONTACT,ABOUT*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  align-self: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #21BFA2;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#21BFA2;
}



/*HEADER*/
h1 {
  font-family: bio Sans;
  font-size: 50px/26px;
  color:#21BFA2;
  text-align: center;
  width: 320px;
  align-content: center; 
  padding-top: 50px;
}


h4{
  width: 390px;
  text-align: left;
  padding-left: 10px;
  font: normal normal 600 21px/39px Bio Sans;
  letter-spacing: 0px;
  color: #7F7F7F;
  opacity: 1;
}



img {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 100%;
  border: 7px solid grey;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  opacity: 2px;
  padding: 15px;
  padding-left: 20px;
  grid-gap: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  
  padding: 1px;
  font-size: 20px;
  text-align: center;
}

iframe{
  border: 7px solid grey;
}


/*FOOTER*/
footer{
  padding: 20px;
  text-align: left;
  background: #21BFA2;
  margin-top: 20px;
  width: 100%;
}

label,p{
  text-decoration-color: #7F7F7F;
  text-align: left;
  float:left;
}

input[type=text], select {
  width: 20%;
  padding: 8px 10px;
  margin: 5px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius:0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #21BFA2;
  color: white;
  padding: 5px 8px;
  margin: 4px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #21BFA2;
}

div.container {
  border-radius: 1px;
  background-color: transparent;
  padding: 5px;
}
form{
  position: stack;
}